<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/kiosk-main-page.css' %}" type="text/css">
</head>
<body>
<div class="kiosk_title">Universal</div>
<div class="kiosk_title">Kiosk</div>
<div class="dummy_div"></div>
<div class="qr_container">
    <div class="container_title">Web 주문</div>
    <img src="{% static 'img/QR.png' %}" class="qr_img">
</div>
<div class="choice_container">
    <div class="opt_container">
        <div class="img_container">
            <a href="{% url 'order' %}"> <img src="{% static 'img/QR.png' %}" class="opt1_img"> </a>
        </div>
        <div class="container_title">포장</div>
    </div>
    <div class="opt_container">
        <div class="img_container">
            <a href="{% url 'order' %}"> <img src="{% static 'img/QR.png' %}" class="opt2_img"> </a>
        </div>
        <div class="container_title">매장</div>
    </div>
</div>
</body>
</html>