./.idea
!/.gitignore

# 말그대로 캐시라서 제외해도 문제가 없음.
Django_project/app/migrations/__pycache__
Django_project/app/__pycache__
Django_project/conf/__pycache__
Django_project/__pycache__

# ImageField, FileField를 담당하는 media 디렉터리는 깨끗한 상태를 유지하면 좋을 것 같음.
Django_project/media/*
!Django_project/media/.dummy_file

# python manage.py collectstatic할 때 복제된 파일이 생성되는데, 그것을 막기 위함.
Django_project/static/*
!Django_project/static/.dummy_file

# init.sh를 제공했으므로, 마이그레이션 기록은 남겨둘 필요가 없음.
Django_project/app/migrations/*
!Django_project/app/migrations/__init__.py

# db도 마찬가지임. 모델은 계속 수정될 예정이라 이런 커밋은 불필요함.
Django_project/db.sqlite3 

# PlatformIO
.pio
.vscode

# Pycharm
.idea

# SvelteKit
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
front-end/flask-test/data.json