body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #002940;
}

.header_container {
    display: flex;
    flex-direction: row;
    background-color: #006890;
    color: white;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
}

.header_title_container {
    flex: 6;
}

.header_title {
    font-size: 50px;
    font-weight: 900;
}

.header_logo_img {
    flex: 1;
    border-radius: 50%;
    border: solid white 10px;
    text-align: center;
    width: 1px;
}

.payment_container {
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 15px 10px;
}

.payment_title {
    flex: 5;
}

.payment_price {
    flex: 1;
}

.menu_list_container {
    padding: 10px 10px;
    background-color: white;
    margin: 0 10px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

}

.menu_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
    border-radius: 25px;
    justify-content: center;
    padding: 10px;
}

.menu_name {
    font-weight: 700;
    font-size: 15px;
    margin-top: 3px;
}

.menu_price {
    font-size: 12px;
    margin-top: 3px;
}

.menu_img {
    width: 100px;
}